* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f7c0c0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5px;
}

.invitation-1, .invitation-2, .invitation-3 {
    width: 600px;
    height: 800px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-top: 15px;
}

.invitation-1 {
    background-image: url('./img/fondo1.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 20px;
}

.invitation-1 h1 {
    font-family: "WindSong", cursive;
    font-weight: 500;
    font-size: 60px;
    padding-top: 5%;
}

.invitation-2 {
    background-image: url('./img/floral.png');
    padding: 20px;
}
.invitation-3 {
    background-image: url('./img/floral2.png');
    background-size: cover;
    padding: 20px;
}

.invitation-2 p {
    padding-top: 20%;
}

.invitation-3 h1 {
    font-family: "WindSong", cursive;
    font-weight: 500;
    font-size: 50px;
    padding-top: 10%;
    padding-bottom: 10%;
}


.date {
    padding-top: 70%;
}
.date h1 {
    display: inline-block;
    margin: 0 15px;
    font-size: 80px;
    color: white;
    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
}

.date h2 {
    font-family: "Forum", serif;
    font-weight: 400;
    font-size: 44px;
}

.date p {
    font-family: "Forum", serif;
    font-weight: 900;
    font-size: 16px;
    padding-top: 8px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    grid-auto-rows: 150px;
    gap: 10px;
    padding: 10px;
    margin: auto;
}

.grid-item {
    background-color: aqua;
    color: white;
    border-radius: 5px;
    background-size: cover;
    background-position: center;
}

.grid-item:first-child {
    grid-column: span 2;
    grid-row: span 2;
    background-image: url('./img/1.png');
}

.grid-item:nth-child(2) {
    background-image: url('./img/2.png');
}

.grid-item:nth-child(3) {
    grid-row: span 2;
    background-image: url('./img/3.png');
}

.grid-item:nth-child(4) {
    background-image: url('./img/4.png');
}

.grid-item:nth-child(5) {
    background-image: url('./img/5.png');
}

.invitation-2 p {
    font-family: "Forum", serif;
    font-weight: 400;
    font-size: 40px;
}

.invitation-3 label, button {
    font-family: "Forum", serif;
    font-weight: 400;
    font-size: 20px;
}

button {
    background-color: #f7c0c0;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #f7c0c07e;
}

form {
    margin-top: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    padding: 10px 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.invitation-3 a {
    text-decoration: none;
    color: inherit; /* Mantiene el color del texto */
}

.invitation-3 a:hover {
    color: #f7c0c0; /* Cambia el color del enlace al pasar el cursor */
    text-decoration: underline; /* Añade una línea inferior al pasar el cursor, si lo deseas */
}
label {
    display: block;
}
#sabado {
    margin-top: 30px;
}

.nombre-container {
    display: flex;
    align-items: baseline;
    margin-bottom: 5px;
    justify-content: center;
}
.nombre-container input {
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 10px;
}
#add-button {
    padding: 5px 12px;
    font-size: 16px;
}
#comida {
    width: 90%;
    font-size: 16px;
}
#confirmar-form{
    border-style: hidden;
}
.social-links {
    display: flex;
    gap: 8px;
    align-items: center;
}
.social-links img {
    width: 24px;
    height: 24px;
    transition: all 0.2s ease-in-out;
}
.social-links img:hover {
    transform: scale(1.1);
}

.social-links ul {
    display: flex;
    gap: 18px;
    list-style-type: none;
    margin-bottom: 15px;
    border-radius: 10px;
    background-color: #f7c0c07e;
    width: 100%;
    padding: 10px 5px 1px 10px;
}
#des{
    margin-left: 50px;
}
 /*Media Queries */
@media (max-width: 768px) {
    .invitation-1, .invitation-2 {
        width: 91%;
        height: auto;
    }
    
    .invitation-1 h1 {
        font-size: 40px;
        padding-top: 60px;
    }

    .invitation-2 h1 {
        font-size: 35px;
    }

    .date h1 {
        font-size: 50px;
        margin: 20px 5px;
    }

    .date h2 {
        font-size: 30px;
    }

    .date p {
        font-size: 12px;
    }

    .invitation-2 p {
        font-size: 30px;
    }
    
    
}
/* Media Queries */
@media (max-width: 592px) {
    .grid-item:nth-child(5) {
        grid-column: span 2;
        background-image: url('./img/5.png');
    }
}

@media (max-width: 540px) {
    .invitation-1, .invitation-2, .invitation-3 {
        width: 100%;
        padding: 20px;
    }
    
    .invitation-1, .invitation-2, .invitation-3 {
        height: auto;
    }

    .invitation-1 h1 {
        font-size: 42px;
        padding-top: 20px;
        margin-bottom: 30%;
    }

    .invitation-2 h1 {
        font-size: 25px;
    }
    .invitation-3 h1 {
        font-size: 35px;
    }

    .date h1 {
        font-size: 50px;
        margin: 10px 2px;
    }

    .date h2 {
        font-size: 26px;
    }

    .date p {
        font-size: 14px;
    }

    .invitation-2 p, .invitation-3 p{
        font-size: 25px;
    }
    .invitation-2 p{
        padding-top: 15px;
    }

    .grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 5px;
    }

    .grid-item {
        height: 150px;
    }

    .grid-item:first-child {
        grid-column: span 2;
        grid-row: span 2;
        height: 300px;
    }
    .grid-item:nth-child(3) {
        grid-row: span 1;
        background-image: url('./img/3.png');
    }
    .grid-item:nth-child(5) {
        grid-column: span 1;
        background-image: url('./img/5.png');
    }
    .invitation-3 label{
        font-size: 18px;
    }
    .invitation-3 h1{
        font-size: 32px;
    }
    .nombre-container{
        align-items: center;
        font-size: 18px;
    }
    .social-links ul {
        gap: 10px;
        padding: 10px 5px 5px 10px;
    }
    .social-links p{
        font-size: 14px;
    }
    #des{
        margin-left: 15px;
    }
    
}
